body {
    font-size: 16px;
    margin: 1em;
}

#auto-inject {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 0.5em;
}

rt {
    font-size: 0.74em;
    font-variant: initial;
    margin-left: 0.1em;
    margin-right: 0.1em;
    text-transform: initial;
}

#auto-inject-text {
    white-space: nowrap;
}

#auto-inject-cantonese-text {
    font-weight: 600;
}

#auto-inject-native-text {
    font-size: 0.75em;
    color: dimgrey;
}

#refresh-prompt-text {
    font-size: 0.75em;
    color: red;
}

/* Create a "toggle switch" (on/off button) with CSS.
 * Taken from https://www.w3schools.com/howto/howto_css_switch.asp
 */

/* The switch - the box around the slider */
#auto-inject-switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 28px;
}

/* Hide default HTML checkbox */
#auto-inject-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
#auto-inject-slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #8ac8f5;
    border-radius: 28px;
}

#auto-inject-slider:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#auto-inject-checkbox:checked + #auto-inject-slider {
    background-color: #1592ec;
}

#auto-inject-checkbox:focus + #auto-inject-slider {
    box-shadow: 0 0 1px #1592ec;
}

#auto-inject-checkbox:checked + #auto-inject-slider:before {
    transform: translateX(20px);
}
